.overflow {
    overflow-x: hidden;
}

/* Importing all the fonts with weights */
@font-face {
    font-family: Draw Sketch;
    src: url(fonts/KGLifeisMessy.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaThin.otf);
    font-weight: 100;
}

p {
    display: inline;
    margin: 0 15px 0 15px;
}

.letter {
    font-family: 'Draw Sketch';
    font-size: 56px;
    font-weight: 200;
    color: #190C05;
}

.letter-active {
    font-family: 'Draw Sketch';
    font-size: 56px;
    font-weight: 200;
    color: #E80000;
}

.main-area {
	margin-top: 100px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}

input:focus {
    outline-width: 0;
}

input::placeholder {
    opacity: 0.3;
}

.message {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 24px;
    font-weight: 100;
    font-family: Proxima Nova;
    background-color: white;
}

.button-container {
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

.button {
    background-color: #E80000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    /*background-image: url("../img/bg1.png");*/
    background-color: #cccccc;
}