.overflow {
    overflow-x: hidden;
    max-width: 680px;
    margin: 3vh auto;
}

@media screen and (max-width: 680px) {
    .overflow {
        overflow-x: hidden;
        margin-left: 1vh;
        margin-right: 1vh;
    }
}


/* Importing all the fonts with weights */
@font-face {
    font-family: Draw Sketch;
    src: url(fonts/KGLifeisMessy.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaThin.otf);
    font-weight: 100;
}

p {
    display: inline;
    margin: 0 15px 0 15px;
}

.letter {
    font-family: 'Draw Sketch';
    font-size: 5vw;
    font-weight: 200;
    color: #190C05;
}

.letter-active {
    font-family: 'Draw Sketch';
    font-size: 5vw;
    font-weight: 200;
    color: #E80000;
}

.main-area {
	margin-top: 20px;
	text-align: center;
}

input:focus {
    outline-width: 0;
}

input::placeholder {
    opacity: 0.3;
}

.message {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 24px;
    font-weight: 100;
    font-family: Proxima Nova;
    background-color: white;
}

.button-container {
    margin: 30px;
    text-align: center;
}

.button {
    margin: 10px auto;
    background-color: #E80000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    /*background-image: url("../img/bg1.png");*/
    background-color: #cccccc;
}